<div class="sweets">
<h1>Contact Us!</h1>
<img src="/images/t1.png" class="headpic">
<p>If you have anything to say about my bakery, come say it to my face.</p>
<p>I don't know what e-mail is and I don't care.</p>
<p>If you want a "catalog" talk to my wife or something, I'm going to train.</p>
</div>
