<div class="outer-container">
<section class="container">
<h1> The Prince of All Flavors Bakeshop</h1>
<img src="/images/v1.jpg" class="big-image">
<h2>Our story...</h2>
<p>What? Why do I have to do this? You already know my name! Fine, blasted runt. My name is Vegeta, I'm the Prince of all Saiyans. For most of my life, I've never really cared for eating. In the past it was mereley a necessirty. I mostly barbecued those I had slaughtered. However the nagging woman will not stop prattling on about how I need a "hobby" that isn't "inflicting pain on an unimaginable scale."</p>
<img src="/images/ve.gif" class="small-pic">
<p>However when the woman told me that fool Kakarot was unable to support his family, I knew it was an opportunity to outdo him. So now I have a bakery. I don't care what you think about it, only that it is the best. And it is the best. Yes I want you to write all of that in there Trunks, I don't care what they're going to think, write it before I destroy this entire ridiculous shop!</p>
<br>
</section>
</div>
