<!DOCTYPE html>
<html>
  <head>
<link href="https://fonts.googleapis.com/css?family=Cookie|Cute+Font|Loved+by+the+King" rel="stylesheet">
      <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <meta charset="utf-8">
    <title>Prince of All Flavors Bakeshop</title>
  </head>
  <body>
    <nav class="nav">
  <div><img src="/images/vc.png"></div>
  <div><a href="/">Home</a></div>
  <div><a href="cookie">Cookies</a></div>
  <div><a href="muffin">Muffins</a></div>
  <div><a href="cake">Cakes</a></div>
  <div><a href="contact">Contact Us</a></div>
  <div><a href="events">Baking Events</a></div>
</nav>
  <%= yield %>
  <footer class="footer">
  <div>The Prince of All Flavors Bakeshop</div>
  <div>WST 3338926 K</div>
  <div>Western Capital City</div>
  <div>Ph: 555 426 1989</div>
  <div>Monday - Friday 8 AM to 8 PM</div>
</footer>
</body>


</html>
